/* background */
body{
    background-color: #f5f5f5;

    padding: 10% 10%;

    text-align: center;
    border: 50px solid transparent;
}

/* bird */
#Bird {
  display: block;
  margin: auto;
}

/* import fonts */
@font-face {
    font-family: BrandonGrotesqueBold;
    src: url("fonts/brandon-grotesque-black.otf");
    font-weight: light;
 }

@font-face {
    font-family: BrandonGrotesque;
    font-family: sans-serif;
    src: url("fonts/brandon-grotesque-light.otf");
    font-weight: normal;
}

/* main text */
.texts {
    font-family: BrandonGrotesque;
}
#head-text {
    font-family: BrandonGrotesqueBold;
    font-weight: lighter;
}
#main-text {
    font-size: 14px;
    font-weight: normal;
}

/* sign up form */
/* .subscriptionForm {
    display: none;
} */

/* button shapes */


.button {
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 24px 20px;
    cursor: pointer;
    background-color: #ad578d;
}

.subscriptionButton {
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 24px 20px;
    cursor: pointer;
    background-color: #ad578d;
    
}
.subscriptionForm1 {

}

/* green: 72c7b4 */
#offering {
    background-color: #72c7b4;
}

/* pink: ad578d */
#requesting {
    background-color: #ad578d;
}

#mc-embedded-subscribe1 {
    background-color: #72c7b4;  
}



#mc-embedded-subscribe2 {
    background-color: #ad578d;
}

/* social media logos */
.Social-media {
    /* Keep at bottom of page */
    bottom: 0%;

    /* Other spacing properties */
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    display: inline-table;
}
