html {
  font-size: 20px;
  overflow-x: hidden; /*hiding the horizontal scroll bar because setting elements to 100vh causes it to appear*/
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* remove background and border from leaflet marker */
.leaflet-div-icon {
  background: unset !important;
  border: unset !important;
}
