html {
  font-size: 20px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* remove background and border from leaflet marker */
.leaflet-div-icon {
  background: unset !important;
  border: unset !important;
}
